html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
}

#app-body {
  height: 100%;
  margin: 0px;    /*removes default style*/
  display: flex;  /*arranges following left/right divs into columns*/
}

.column {
  height: 100%;   /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
  background-color: white;
  white-space: nowrap;
}

#right {
  background-color: #f3f3f3;
}

.top-left {
  flex-shrink: 0;
  background-color: #333;
  color: white;
  padding: 20px;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
  background-color: #333;
  color: white;
  padding: 20px;
}

ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  margin-right: 20px;
}

.bottom {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
  padding: 20px;
}